## Open Lab CP2:

### Modeling performance, returns and risk-adjusted metrics

#### Crypto & etfs

For the student: complete all #todos

In [2]:
import os

import pandas as pd
import pandas

import plotly.express as px
import cufflinks as cf
import plotly.offline
import plotly.figure_factory as ff
cf.go_offline()

In [3]:
print("ETF data to select from: \n  ")
for fn in os.listdir('data/etf')[1:]:
    print(fn,end=" ")

print("\n \nCrypto data to select from: \n  ")
for fn in os.listdir('data/crypto/')[1:]:
    print(fn,end=" ")

ETF data to select from:

EEM.csv EWZ.csv FXI.csv IWM.csv KSA.csv QQQ.csv SLV.csv SPY.csv TLT.csv XLF.csv

Crypto data to select from:

BTCUSDT.csv DOGEUSDT.csv ETHUSDT.csv SHIBUSDT.csv XRPUSDT.csv

### Objective one: Load a data set


#### (Optional - very advanced), use _"requests"_ to load a dataset from an API of your choice

In [5]:
#Objective 1: 
# Set the symbol
symbol="spy".upper()
# is it crypto?
is_crypto = False

if is_crypto:
    data_dir = 'crypto'
else:
    data_dir = 'etf'

#Complete the parse_dates param to parse the timestamp index.
ohlcv_df = pandas.read_csv(filepath_or_buffer=f"data/{data_dir}/{symbol}.csv", parse_dates=True, index_col='timestamp')

In [6]:
#Objective 2:
# Observe and visually examine the OHLCV Data, making note of the index and collumns.
ohlcv_df

,open,high,low,close,adjusted close,volume,dividend amount,split coefficient
timestamp,,,,,,,,
1999-11-01,98.50,98.81,96.3700,96.75,59.358271,9551800,0.0,1.0
1999-11-02,96.75,96.81,93.6900,94.81,58.168038,11105400,0.0,1.0
1999-11-03,95.87,95.94,93.5000,94.37,57.898089,10369100,0.0,1.0
1999-11-04,94.44,94.44,90.0000,91.56,56.174091,16697600,0.0,1.0
1999-11-05,92.75,92.94,90.1900,90.25,55.370377,13737600,0.0,1.0
...,...,...,...,...,...,...,...,...
2021-10-13,140.52,141.41,139.6600,140.76,140.760000,2880747,0.0,1.0
2021-10-14,141.04,143.92,141.0100,143.39,143.390000,4217305,0.0,1.0
2021-10-15,143.39,144.85,142.7900,144.61,144.610000,3222778,0.0,1.0
2021-10-18,144.00,144.94,141.7590,142.32,142.320000,6154055,0.0,1.0
2021-10-19,141.08,142.94,140.5201,141.98,141.980000,4299936,0.0,1.0

In [7]:
#objective 3:
# use pandas.sort_index() to ensure data is sorted

ohlcv_df = ohlcv_df.sort_index()
ohlcv_df

,open,high,low,close,adjusted close,volume,dividend amount,split coefficient
timestamp,,,,,,,,
1999-11-01,98.50,98.81,96.3700,96.75,59.358271,9551800,0.0,1.0
1999-11-02,96.75,96.81,93.6900,94.81,58.168038,11105400,0.0,1.0
1999-11-03,95.87,95.94,93.5000,94.37,57.898089,10369100,0.0,1.0
1999-11-04,94.44,94.44,90.0000,91.56,56.174091,16697600,0.0,1.0
1999-11-05,92.75,92.94,90.1900,90.25,55.370377,13737600,0.0,1.0
...,...,...,...,...,...,...,...,...
2021-10-13,140.52,141.41,139.6600,140.76,140.760000,2880747,0.0,1.0
2021-10-14,141.04,143.92,141.0100,143.39,143.390000,4217305,0.0,1.0
2021-10-15,143.39,144.85,142.7900,144.61,144.610000,3222778,0.0,1.0
2021-10-18,144.00,144.94,141.7590,142.32,142.320000,6154055,0.0,1.0
2021-10-19,141.08,142.94,140.5201,141.98,141.980000,4299936,0.0,1.0

In [9]:
# objective 4:
# Select the last full year of data, eg: if it ends mid 2021, select 2019 to 2020.

ohlcv_df = ohlcv_df.loc['2019':'2020']
ohlcv_df

,open,high,low,close,adjusted close,volume,dividend amount,split coefficient
timestamp,,,,,,,,
2019-01-02,112.01,115.98,111.69,115.21,100.795941,4239924,0.0,1.0
2019-01-03,114.53,114.88,112.69,112.91,98.783697,4346659,0.0,1.0
2019-01-04,114.91,117.49,114.44,117.32,102.641956,4477755,0.0,1.0
2019-01-07,117.50,118.83,116.67,118.15,103.368114,3751204,0.0,1.0
2019-01-08,119.66,120.57,118.98,119.83,104.837927,4763636,0.0,1.0
...,...,...,...,...,...,...,...,...
2020-12-24,125.00,125.10,124.21,124.69,120.278999,1761122,0.0,1.0
2020-12-28,125.10,126.60,124.46,124.82,120.404401,3583222,0.0,1.0
2020-12-29,125.35,125.48,123.24,123.80,119.420484,3487007,0.0,1.0
2020-12-30,123.80,124.85,123.63,124.34,119.941381,3380494,0.0,1.0
2020-12-31,124.22,126.03,123.99,125.88,121.426902,3574696,0.0,1.0

In [ ]:
# objective 5:
# create a copy of the data frame using df.copy() to make a working copy to modify.
# Calculate the returns by taking the difference of each open or adjusted open.

working_df = ohlcv_df.#todo()
working_df['returns'] = working_df

In [ ]:
# Objective 6:
# Visually inspect to make sure returns are correct.
working_df

In [ ]:
#Object 7:
# Using .dropna() drop the missing data

working_df = working_df.#todo()
working_df

In [ ]:
# Objective 8:
# Using PyViz, plotly, and cufflinks. Plot the "open" price for your instrument. 

#complete the todo
working_df['#todo'].iplot(title=f"{symbol}",xTitle='Date',yTitle='Price ($)')

In [ ]:
# Objective 9:
# Use PyViz and .iplot() to plot your "returns" over time:
# 
#complete the todo
working_df[['#todo']].iplot(title=f"{symbol}",xTitle='Date',yTitle='Returns (profit) per day')

In [ ]:
#objective 10:
# using pyvis, cufflinks and iplot, make a histogram to visualize your return distribution
working_df[['#todo']].iplot(kind='hist',bins=100,title='#todo Distribution',xTitle='Returns %',yTitle='count')

In [ ]:
#objective 10:
# using pyvis, cufflinks and iplot, make a distribution plot to visualize your return distribution

ff.create_distplot([working_df['#todo'].values.ravel()],group_labels=['returns'])

In [ ]:
#objective 11:
# calculate the IR

IR = working_df[['#todo']].mean()/working_df[['#todo']].std()

In [ ]:
#objective 12:
# calculate the AR

AR = (working_df[['#todo']].iloc[#todo] - working_df[['#todo']].iloc[#todo]) / working_df[['#todo']].iloc[#todo])

In [ ]:
# calculate the CAGR
CAGR = #todo